* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Emilys+Candy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter", sans-serif;
}
/* ================ common css =============== */
.container {
  width: 90%;
  max-width: 1341px;
  margin: 0 auto;
}
/* Header Section start */
#header {
  padding: 16px 10px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 150px;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 32px;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  padding: 13px 15px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #36774a;
  box-shadow: 0 17px 12px rgba(54, 119, 74, 0.9);
}
/* ============ Header Section end ======================*/

/* ============ Hero Section start ======================*/
#hero-area {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  color: #469165;
  padding: 8px 16px;
  border-radius: 50px;
  width: fit-content;
  margin-bottom: 20px;
}
.badge-icon {
  font-size: 20px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.05);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  80% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.hero-content h1 {
  font-size: 62px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  width: 770px;
}
.hero-content h1 span {
  color: #469165;
}
.hero-content p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 600px;
}
.button-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.button-wrapper .btn {
  padding: 16px 13px;
}
.button-wrapper .btn .fa-arrow-right {
  margin-left: 8px;
}
.button-wrapper .btn .fa-play {
  margin-right: 8px;
}
.button-wrapper .transparent-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 13px 13px;
}
.button-wrapper .btn:hover {
  box-shadow: 0 17px 12px rgba(39, 37, 37, 0.9);
}
/* ============ Problem Section start ======================*/
#problem-area {
  padding: 40px 40px;
}
.problem-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 15px;
}
p {
  color: #627382;
  font-size: 16px;
}
.problems-card {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 15px;
 
}
.problem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  border: 10px inset #627382;
  border-radius: 25px;
}
.problem:hover{
   border: 10px outset #627382;
}
.problem img {
  width: 45px;
  height: 45px;
  margin: 15px 0;
}
.problem h4 {
  font-size: 24px;
  font-weight: 600;
}
.problem p{
color: #627382;
margin: 5px 0;
}

/* ============ Problem Section End ======================*/

/* ============ Solution Section Start ======================*/
#solution-area{
  padding: 50px 0;
}
.solution-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
width: 500px;
}
.solution-content h4{
  color: #469165;
  font-size: 16px;
}
.solution-content h2{
  font-size: 40px;
}
.solution-content p{
margin-bottom: 20px;
}
.solution-content span{
margin: 10px;
}
.fa-circle-check{
  color: #469165;
}
/* ============ Solution Section End ======================*/
